---
import About from "@/components/About.astro";
import ExperienceCard from "@/components/ExperienceCard.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { parseFrontmatterDate } from "@/lib/dateFormatter";
import { type GitHubRepo, getGithubProjects } from "@/lib/github";
import { getCollection } from "astro:content";
import { ArrowDown, ArrowUpRight } from "lucide-react";

// Fetch GitHub projects and experiences
const projects: GitHubRepo[] = await getGithubProjects();

// Sort experiences by start date
const experiences = (await getCollection("experiences")).sort((a, b) => {
  const aStart = parseFrontmatterDate(a.data.startDate);
  const bStart = parseFrontmatterDate(b.data.startDate);
  return bStart.getTime() - aStart.getTime();
});
---

<Layout>
  {/* Header */}
  <Header />

  {/* Main content */}
  <main>
    {/* About */}
    <section id="about" class="py-20">
      <div class="bg-white/90 px-6 py-5 backdrop-blur-sm sticky top-0 z-10">
        <h2 class="font-bold uppercase tracking-widest">About</h2>
      </div>
      <About />
    </section>

    {/* Projects */}
    <section id="projects" class="pb-20">
      <div class="bg-white/90 px-6 py-5 backdrop-blur-sm sticky top-0 z-10">
        <h2 class="font-bold uppercase tracking-widest">Projects</h2>
      </div>
      {projects.map((project) => <ProjectCard {...project} />)}
      <a
        href="https://github.com/mrearsbig"
        target="_blank"
        rel="noopener noreferrer"
        class="px-3"
        ><Button
          variant="link"
          className="text-black text-base font-semibold hover:text-primary"
          >View Project History <ArrowUpRight strokeWidth={3} /></Button
        ></a
      >
    </section>

    {/* Experience */}
    <section id="experience" class="pb-20">
      <div class="bg-white/90 px-6 py-5 backdrop-blur-sm sticky top-0 z-10">
        <h2 class="font-bold uppercase tracking-widest">Experience</h2>
      </div>
      {
        experiences.map((exp) => (
          <ExperienceCard {...exp.data}>{exp.body}</ExperienceCard>
        ))
      }
      <a
        href="/resume.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="px-3"
        ><Button
          variant="link"
          className="text-black text-base font-semibold hover:text-primary"
          >View Complete Resume <ArrowDown strokeWidth={3} /></Button
        ></a
      >
    </section>

    {/* Footer */}
    <Footer />
  </main>
</Layout>
