<footer class="max-w-md text-sm px-6 pb-20">
  <p class="text-muted-foreground">
    Conceptualized in <a
      href="https://figma.com"
      target="_blank"
      rel="noopener noreferrer"
      class="underline text-foreground hover:text-purple-500">Figma</a
    > and brought to life in <a
      href="https://code.visualstudio.com"
      target="_blank"
      rel="noopener noreferrer"
      class="underline text-foreground hover:text-blue-500"
      >Visual Studio Code</a
    >. Built using <a
      href="https://astro.build"
      target="_blank"
      rel="noopener noreferrer"
      class="underline text-foreground hover:text-purple-900">Astro</a
    >, styled with <a
      href="https://tailwindcss.com"
      target="_blank"
      rel="noopener noreferrer"
      class="underline text-foreground hover:text-cyan-500">Tailwind CSS</a
    > and <a
      href="https://daisyui.com"
      target="_blank"
      rel="noopener noreferrer"
      class="underline text-foreground hover:text-yellow-500">shadcn</a
    > components. Features powered by the <a
      href="https://docs.github.com/en/rest"
      target="_blank"
      rel="noopener noreferrer"
      class="underline text-foreground hover:text-gray-500">GitHub API</a
    >, with icons from <a
      href="http://fontawesome.com"
      target="_blank"
      rel="noopener noreferrer"
      class="underline text-foreground hover:text-indigo-500">Font Awesome</a
    > and <a
      href="http://lucide.dev"
      target="_blank"
      rel="noopener noreferrer"
      class="underline text-foreground hover:text-red-300">Lucide</a
    >. Hosted and deployed on <a
      href="https://netlify.com"
      target="_blank"
      rel="noopener noreferrer"
      class="underline text-foreground hover:text-teal-500">Netlify</a
    >. All text is beautifully rendered in the <a
      href="https://vercel.com/font"
      target="_blank"
      rel="noopener noreferrer"
      class="underline text-foreground hover:text-orange-500">Geist</a
    > typeface.
  </p>
</footer>
